---
# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

IndentWidth: 2

# Must be 80 characters or less!
ColumnLimit: 80

# does (int) x instead of (int)x
SpaceAfterCStyleCast: true

# spaces, not tabs!
UseTab: Never

# if (x) doStuff()  is not allowed, bad style
AllowShortIfStatementsOnASingleLine: false

AlignConsecutiveAssignments: Consecutive

# 
AlignTrailingComments: true

AlignOperands: Align

AlignAfterOpenBracket: BlockIndent

SpacesBeforeTrailingComments: 3

# change the next line to All for Alistair's textbook style
AlwaysBreakAfterReturnType: TopLevelDefinitions

# define SHORT_NAME       42
#  #define LONGER_NAME      0x007f   # does nice spacing for macros
AlignConsecutiveMacros: Consecutive

# use \n instead of \r\n
UseCRLF: false
